@charset "UTF-8";
/* 共用css */
* {
	margin: 0;
	padding: 0
}

body {
	font: 12px "宋体", Arial, Helvetica, sans-serif;
	background: #222
}

img {
	border: 0;
	display: block
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

a {
	outline: none;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* 正文区 */
.ibody {
	background: url(../images/bg.png) repeat-y;
	width: 1000px;
	margin: auto;
	box-shadow: -2px -1px 5px #666;
}

/* header */
header { 
	position: relative;
	background: url(../images/ibodybg.png) top right no-repeat
}
header h1 {
	padding: 15px 0 0 80px;
	font-size: 22px;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
header h2 {
	margin: 5px 80px;
	color: #8e8d8d;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}

header h2 {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	-webkit-transform: translate(60px);
	-moz-transform: translate(60px);
	-o-transform: translate(60px);
	-ms-transform: translate(60px);
	transform: translate(60px);
}
header h2:hover {
	padding-left: 20px
}
header h2:nth-child(1) {
	-webkit-animation: animations 3s ease-out 1s backwards;
	-moz-animation: animations 3s ease-out 1s backwards;
	-o-animation: animations 3s ease-out 1s backwards;
	-ms-animation: animations 3s ease-out 1s backwards;
	animation: animations 3s ease-out 1s backwards;
}
header h2:nth-child(2) {
	-webkit-animation: animations 3s ease-out 4s backwards;
	-moz-animation: animations 3s ease-out 4s backwards;
	-o-animation: animations 3s ease-out 4s backwards;
	-ms-animation: animations 3s ease-out 4s backwards;
	animation: animations 3s ease-out 4s backwards;
}
/* logo */
.logo {
	background: url(../images/logo.jpg) no-repeat #000 center;
	width: 117px;
	height: 117px;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	top: 43px;
	box-shadow: 0px 2px 2px #414141;
}
.logo:hover {
	background: url(../images/home.png) no-repeat #000 center;
}
.logo a {
	width: 100%;
	height: 100%;
	display: block
}
/* -----------------------nav----------------- */
/* 导航 */
nav {
	background: rgba(0, 0, 0, 0.8);
	height: 48px;
	line-height: 48px;
	padding-left: 80px;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType= 0,	startColorstr= #3333333, endColorstr= #3333333);
} 
/* 兼容IE6 透明 */
nav a {
	display: inline-block;
	font-size: 18px;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	background: #333333;
	color: #fff;
	padding: 0 20px;
	border-radius: 1em;
	box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); 

	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
nav a:hover {
	background: #acb4c2;
	border-radius: 2em;
}
#topnav {
	margin-left: 50px;
	margin-right: 150px;
}
/* 高亮选中颜色 */
#topnav_current {
	background: #acb4c2;
	border-radius: 1em;
} 

/* 博文列表 */
article {
	width: 73%;
	float: left;
	background: #fff;
}
.bloglist h2 {
	border-bottom: #474645 2px solid;
	margin: 0px 0px 20px 8px;
	height: 26px;
	overflow: hidden;
	line-height: 28px;
	font-size: 16px;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	letter-spacing: 2px
}
.bloglist h2 p {
	background: #474645;
	width: 180px;
	color: #fff;
	text-align: center;
	box-shadow: #999 4px 5px 1px;
	margin-left: 40px;
}
.bloglist h2 p span {
	color: #38b3d4;
	font-size: 18px;
}
.blogs {
	margin: 0 20px 0px 20px;
	position: relative;
}
.blogs h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	transition: all .5s
}
.blogs h3 a {
	color: #474645;
}
.blogs h3:hover {
	text-decoration: underline
}
.blogs figure {
	float: left;
	width: 25%;
	overflow: hidden;
}
.blogs figure img {
	width: 100%;
	margin: auto;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.blogs figure:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.blogs ul {
	float: right;
	line-height: 20px;
	width: 72%;
	color: #474645;
}
.blogs ul:hover {
	cursor: pointer;
}
.autor {
	overflow: hidden;
	clear: both;
	margin: 10px 0 0 0;
	display: inline-block;
	line-height: 26px;
	height: 26px;
	color: #838383;
	background: #f6f6f6;
	width: 100%
}
.autor span {
	margin: 0 10px;
}
.autor span a {
	color: #759b08;
}
a.readmore {
	background: #acb4c2;
	color: #fff;
	padding: 5px 10px;
	float: right;
	margin: 20px 0 0 0
}
.blogs::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	background: #cac1c1;
	border: 2px solid #fff;
	left: -27px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.blogs:hover::before {
	background: #474645
}
.dateview {
	position: absolute;
	left: -125px;
	top: 0px;
	z-index: 1;
	color: #222;
}
.blogs::after {
	content: "";
	width: 121px;
	height: 29px;
	position: absolute;
	left: -148px;
	top: -9px;
	z-index: 0;
	background: #474645 url(../images/tip.png) no-repeat;
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.blogs:hover::after {
	opacity: 1
}

/* 右侧栏 */
aside {
	width: 27%;
	background: url(../images/ibodybg.png) -170px -147px no-repeat #000;
	float: right;
} 
aside div{
	margin-bottom: 20px;
}
.avatar {
	margin: 10px auto;
	width: 160px;
	height: 160px;
	border-radius: 100%;
	overflow: hidden;
}
.avatar a {
	display: block;
	padding-top: 100px;
	width: 160px;
	background: url(../images/logo2.png) no-repeat;
	background-size: 160px 160px;
}
.avatar a span {
	display: block;
	margin-top: 63px;
	padding-top: 8px;
	width: 160px;
	height: 55px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	font-size: 20px;
	-webkit-transition: margin-top .2s ease-in-out;
	-moz-transition: margin-top .2s ease-in-out;
	-o-transition: margin-top .2s ease-in-out;
	transition: margin-top .2s ease-in-out;
}
.avatar a:hover span {
	display: block;
	margin-top: 0;
}
.about_c {
	margin: 10px 0;
	color: #fff;
	line-height: 20px;
}

.about_c p:first-child, .about_c p:nth-child(2), .about_c p:nth-child(3), .about_c p:nth-child(4), .about_c p:last-child {
	background: url(../images/about_c.png) no-repeat;
}
.about_c p:first-child {
	background-position: 15px 5px;
}
.about_c p:nth-child(2) {
	background-position: 15px -22px
}
.about_c p:nth-child(3) {
	background-position: 15px -50px
}
.about_c p:nth-child(4) {
	background-position: 15px -72px
}
.about_c p:last-child {
	background-position: 15px -100px
}
.about_c p {
	display: block;
	padding-left: 40px;
}
.about_c p:hover {
	background: #222
}
.ph_news{
	margin-top: 30px;
}
.ph_news h2 { 
	font-size: 16px; 
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; 
	color: #FFF; 
}
.ph_news h2 p { 
	height: 40px; 
	line-height: 40px; 
	width: 100px; 
	padding: 0 0 0 30px; 
	border-radius: 0 20px 20px 0; 
	text-shadow: rgba(0,0,0,.65) 1px 1px; 
	background: #222 
}
.ph_news ul { margin: 10px }
.ph_news li { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%; color: #cdcbcb; line-height: 24px; height: 24px; }
.ph_news li a { color: #cdcbcb; }
.ph_news li a:hover, .pl_n dd a:hover { text-decoration: underline }
.links h2 p {
	background: #222
}
.ph_n li span { margin-right: 10px; font-family: "微软雅黑"; color: #FFF; background: #404040; padding: 0 5px }
.ph_n li span.num1, .ph_n li span.num2, .ph_n li span.num3 { background: #f16b17 }
/* 最新评论 */
.pl_n dl { display: block; overflow: hidden; margin-bottom: 12px; color: #cdcbcb; }
.pl_n dd { line-height: 22px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden }
.pl_n dd a { color: #555454 }
.pl_n time { color: #066; margin-left: 10px }
.pl_n dt { float: left; }
.pl_n dt img { width: 50px; height: 50px; margin-right: 10px; border-radius: 50%; transition: all 1s }
.pl_n dt img:hover { -webkit-transform: rotate(360deg); -ms-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); }

.links h2 p {
	height: 40px;
	line-height: 40px;
	width: 100px;
	padding: 0 0 0 30px;
	border-radius: 0 20px 20px 0;
	text-shadow: rgba(0, 0, 0, .65) 1px 1px;
}
.links ul {
	margin: 20px 0
}
.links ul li {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: #333 1px dashed;
	margin: 0 40px;
}
.copyright {
	background: #0d0d0d;
	border-radius: 50%;
	text-align: center;
	color: #d8d8d8;
	padding: 20px;
	margin: 60px 20px 0 20px;
	border: #1b1a1a 1px solid;
	box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); 
}
.copyright p {
	line-height: 26px;
	text-shadow: #000 1px 1px 1px
}
.copyright p a {
	color: #d8d8d8;
}