<!DOCTYPE html>
<html lang="en">
<head>
  <title>李芳同学的美丽之路</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>
<body>