<!DOCTYPE html>
<html lang="en">
<head>
  <title>李芳同学的美丽之路</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="index.html">美丽之路</a></h1>
      <nav>
        <ul>
        	<li><a href="index.html" class="current">首页</a></li>
          <li><a href="about.html">关于</a></li>
          <li><a href="login.html">登录</a></li>
          <li><a href="register.html">注册</a></li>
        </ul>
      </nav>
    </div>
	</header>
  
  <!-- /#gallery -->
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        	内容模版<br/>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <!-- footer -->
	<footer>
	  <div class="container">
	  	<div class="wrapper">
	      <div class="fleft">Copyright - 李芳</div>
	      <div class="fright">
	      	<a rel="nofollow" href="index.html">
	      		美丽之路
	      	</a> 
	      	designed by ReliefZk &nbsp; &nbsp; |&nbsp; &nbsp; 
	      	<a href="index.html">html5</a> 
	      	powered by 李芳
	      </div>
	    </div>
	  </div>
	</footer>
</body>
</html>
