<!doctype html>
<html> 
<head>
	{{ mytemplate "common/head.html" .}}
</head>
<body><div class="ibody">
	<!-- 导航栏 -->
	<header>
		{{ mytemplate "common/header.html" . }}
	</header>
	<!-- ending of header -->
	<article>
	   {{ mytemplate .Content . }}
	</article>
	<!-- ending of article -->
	<aside>
		{{ mytemplate "common/avatar.html" . }}
		{{ mytemplate "common/tuijian.html" . }}
		{{ mytemplate "common/copyright.html" . }}
	</aside>
<!-- ending of ibody -->	
</div>
<!-- 引入JS -->
<script src="/js/slider.js"></script>
</body>
</html>