<!doctype html>
<html>
<head>
	{{ template "common/head.html" . }}
</head>
<body><div class="ibody">
	<!-- 导航栏 -->
	<header>
		{{ template "common/header.html" . }}
	</header>
	<!-- ending of header -->
	<article>
	   {{.Content}}
	</article>
	<!-- ending of article -->
	<aside>
		{{ template "common/avatar.html" . }}
		{{ template "common/tuijian.html" . }}
		{{ template "common/copyright.html" . }}
	</aside>
<!-- ending of ibody -->	
</div>
<!-- 引入JS -->
<script src="js/slider.js"></script>
</body>
</html>